  <section class="contact-page inner-page">
    <div class="container">
        <div class="row">
            <!-- REGISTER -->

            <div class="col-md-8">
                <div class="widget">
                    <div class="widget-body">
                    <h2>Liên hệ</h2>
                        <!-- Contact form -->
                        <div class="form-horizontal contact-form" role="form">
                            <fieldset>
                                <div class="row form-group">
                                    <div class="col-xs-6">
                                        <input class="form-control" id="fname" name="fname" type="text" placeholder="Tên *" required=""> </div>
                                    <div class="col-xs-6">
                                        <input class="form-control" id="lname" name="lname" type="text" placeholder="Họ *" required=""> </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-xs-6">
                                        <input class="form-control" id="email" name="email" type="email" placeholder="Email *" required=""> </div>
                                    <div class="col-xs-6">
                                        <input class="form-control" id="phone" name="phone" type="tel" placeholder="Phone"> </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-xs-12">
                                        <input class="form-control" id="subject" name="subject" type="text" placeholder="Tiêu đề *" required=""> </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-xs-12">
                                        <textarea class="form-control" id="message" name="message" rows="10" placeholder="Nội dung *" required=""></textarea>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-xs-12">
                                        <button class="btn btn-lg theme-btn" type="submit">Gửi</button>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <!-- End Contact form -->
                    </div>
                </div>
                <!-- end: Widget -->
            </div>
            <!-- /REGISTER -->
            <!-- WHY? -->
            <div class="col-md-4">
                <h4>Hãy liên hệ với chúng tôi</h4>
                <p>để đáp ứng các yêu cầu của bạn về dịch vụ</p>
                <ul class="list-check list-unstyled">
                    <li>Gửi yêu cầu của bạn về dịch vụ</li>
                    <li>Những điều bạn mong muốn dịch vụ hỗ trợ tốt hơn</li>
                    <li>Tham gia làm đối tác với chúng tôi</li>
                </ul>
                <hr>
            
            </div>
            <!-- /WHY? -->
        </div>
    </div>
</section>