<section class="app-section">
    <div class="app-wrap">
        <div class="container">
            <div class="row text-img-block text-xs-left">
                <div class="container">
                    <div class="col-xs-12 col-sm-6 hidden-xs-down right-image text-center">
                        <figure> <img src="assets/images/app.png" alt="Right Image"> </figure>
                    </div>
                    <div class="col-xs-12 col-sm-6 left-text">
                        <h3>Phuc Long Application</h3>
                        <p>Tải ứng dụng về để có được những trải nghiệm tốt nhất từ hệ thống của ứng dụng</p>
                        <div class="social-btns">
                            <a href="#" class="app-btn apple-button clearfix">
                                <div class="pull-left"><i class="fa fa-apple"></i> </div>
                                <div class="pull-right"> <span class="text">Đã có trên</span> <span class="text-2">App Store</span> </div>
                            </a>
                            <a href="#" class="app-btn android-button clearfix">
                                <div class="pull-left"><i class="fa fa-android"></i> </div>
                                <div class="pull-right"> <span class="text">Đã có trên</span> <span class="text-2">Play store</span> </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>