<footer class="footer">
    <div class="container">
        <!-- bottom footer statrs -->
        <div class="bottom-footer">
            <div class="row">
                <div class="col-xs-12 col-sm-3 payment-options color-gray">
                      <a href="#"> <img src="assets/images/pl/pl_icon.png" alt="Footer logo" height="120px"> </a> <span></span>
                </div>
                <div class="col-xs-12 col-sm-4 address color-gray">
                    <h5>Địa chỉ</h5>
                    <p>12/12 Nguyễn Đình Chiểu, phường DaKao, quận 1, TP Hồ Chí Minh</p>
                    <h5>Điện thoại: <a href="tel:+0919471188">0919 471 188</a></h5> </div>
                <div class="col-xs-12 col-sm-5 additional-info color-gray">
                    <h5>Giấy phép</h5>
                    <p>Trang thương mại điện tử đã được thông báo với Bộ Công Thương. <br>
                    Phinn Express, giấy phép số ...... do Sở Kế hoạch - Đầu tư TP.HCM cấp ngày .../../...</p>
                </div>
            </div>
        </div>
        <!-- bottom footer ends -->
    </div>
</footer>
