 <section>
  <div id="slider">
   <div class="slides">
    <!-- Second slide --> 
    <div class="slider">
        <div class="legend"></div>
        <div class="content">
          <div class="content-txt">
              <h1> Phúc Long </h1>
              <h2> Coffee &amp; Tea </h2>
          </div>
        </div>
        <div class="images"> 
          <img src="assets/images/pl/pl_cover.jpg" height="600px"> 
        </div>
    </div>
    <!-- Third slide --> 
      <div class="slider">
        <div class="legend"></div>
        <div class="content">
          <div class="content-txt">
              <h1> Phúc Long </h1>
              <h2> Coffee &amp; Tea </h2>
          </div>
        </div>
        <div class="images"> 
            <img src="assets/images/pl/pl_cover.jpg" height="600px"> 
        </div>
    </div>
      <!-- Third slide --> 
      <div class="slider">
        <div class="legend"></div>
        <div class="content">
          <div class="content-txt">
              <h1> Phúc Long </h1>
              <h2> Coffee &amp; Tea </h2>
          </div>
        </div>
        <div class="images"> 
            <img src="assets/images/pl/pl_cover.jpg" height="600px"> 
        </div>
    </div>
    <!-- Fourth slide --> 
    <div class="slider">
      <div class="legend"></div>
        <div class="content">
          <div class="content-txt">
              <h1> Phúc Long </h1>
              <h2> Coffee &amp; Tea </h2>
          </div>
        </div>
        <div class="images"> 
          <img src="assets/images/pl/pl_cover.jpg" height="600px"> 
        </div>
      </div>
    </div>
    <div class="switch">
      <ul>
        <li>
          <div class="on"></div>
        </li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>
</section>